# Binaries
*.[dD][lL][lL]
*.[eE][xX][eE]
*.[hH][lL][pP]
*.[iI][cC][oO]
*.nvda-addon
*.[lL][iI][bB]
*.[gG][zZ]
*.[wW][aA][vV]
*.[zZ][iI][pP]

# MUSHClient Files
docs/
fonts/
locale/
mime/
names/
scripts/
socket/
sounds/
spell/
Dina.fon
Example_filters.lua
help.db
mushclient.cnt
MUSHclient.ini*
mushclient_prefs.sqlite*
names.txt
spellchecker.lua
tips.txt

# Misc Files
*.ignore
mapper_proxy/
