# Binaries
*.dll
*.exe
*.hlp
*.ico
*.nvda-addon
*.lib
*.gz
*.wav
*.zip

# MUSHClient Files
/docs/
/fonts/
/locale/
/mime/
/names/
/scripts/
/socket/
/sounds/
/spell/
/Dina.fon
/Example_filters.lua
/help.db
/mushclient.cnt
/MUSHclient.ini*
/mushclient_prefs.sqlite*
/names.txt
/spellchecker.lua
/tips.txt

# Mapper Proxy Files
/mapper_proxy/

# Misc Files
*.ignore
